<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Home
		</title>
		<link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- ENLAZAR VUE JS -->
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
		<link rel="stylesheet" href="assets/css/Footer-with-social-media-icons.css">
		<link rel="stylesheet" href="assets/css/Pages-Navbar.css">
		<style>
			.hero-banner{
				background-color: #2650db;
			}
			.hero-banner h1 {
				font-size: 48px;
				color: white;
			}
			.hero-banner p {
				color: white;
				font-size: 30;
			}
			.navbar .navbar-brand {
				color: white;
				
			}
			.navbar .nav-item .nav-link {
				color: black;
				border-radius: 5px;
			}
			.card-body {
				min-height: 300px;
				min-width: 250px;
				margin-right: 5px;
			}
		</style>	
	</head>
	<body>
		
		<!-- CREAR UN CONTENEDOR -->
		<div id="contenedor">
			<!--Navbar -->
			<div class="container-fluid" style="padding: 0px;">
				<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean white-links" style="background: rgba(42, 87, 107, 1); color: white;">
					<div class="container"><a class="navbar-brand" id="company-name" href="home.html">TMDB UABCS</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" onclick="SetNavBackground();"><span class="visually-hidden">Toggle navigation</span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="color: white;font-size: 30px;">
								<path d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z" fill="currentColor"></path>
								<path d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z" fill="currentColor"></path>
								<path d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z" fill="currentColor"></path>
							</svg></button>
						<div class="collapse navbar-collapse" id="navcol-1">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item"><a class="nav-link" href="#">Peliculas</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Series</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Actores</a></li>
								<li class="nav-item"><a class="btn btn-info move-left-xs-sm-md me-md-3 mb-3 mb-md-0" role="button" href="index.html">Cerrar sesión</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			
			
			<!--banner-->
				<div class="container-fluid w3-display-container" style="padding: 0px;">
					<div class="row">
						<img :src="img_placeholder" class="w3-round w3-opacity-min"  style="height: 225px;"/>
						<div class="w3-display-left w3-container">
							<div class="row row align-items-center">
								<div class="col-lg-5 offset-lg-1 order-lg-1">
								</div>
								<div class="col-lg-6">
								  <h1 class="mt-3">Bienvenido</h1>
								  <p class="lead text-white bg-dark text-secondary my-5">Accede a la informacion de miles de peliculas y series.</p>
								</div>
							  </div>
						</div>
					</div>
				</div>
			<div >
				<div  >
					<div class="container-fluid py-2">
						<h2 class="font-weight-light">Populares</h2>
						<div class="d-flex flex-row flex-nowrap overflow-auto scroll" >
							<div v-if="popular_mov!=null" class="card card-body bg-dark text-light" v-for="p in popular_mov">
								
								<img :src="`https://image.tmdb.org/t/p/w300/${p.poster_path}`"  /> 
								<p class="text-center pt-4 font-monospace">
									{{ p.title }}
								</p>
								<a class="text-center font-monospace text-decoration-none" :href="`mov_details.html?movie=${p.id}-${getSlug(p.title)}`">
									Ver más
								</a>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div  >
					<div class="container-fluid py-2">
						<h2 class="font-weight-light">Trending</h2>
						<div class="d-flex flex-row flex-nowrap overflow-auto" >
							<div class="card card-body bg-dark text-light" v-for="p in trending_mov">
				
								<img :src="`https://image.tmdb.org/t/p/w300/${p.poster_path}`"  /> 
								
								<p class="text-center font-monospace pt-4" v-if="p.media_type=='movie'">
									{{p.title}}
								</p>
								<p class="text-center font-monospace pt-4" v-else="p.media_type='tv'">
									{{p.name}}
								</p>
	
								<a class="text-center font-monospace text-decoration-none" v-if="p.media_type=='movie'" :href="`mov_details.html?movie=${p.id}-${getSlug(p.title)}`">
									Ver más
								</a>
								<a class="text-center font-monospace text-decoration-none" v-else="p.media_type=='tv'" :href="`tv_details.html?tv=${p.id}-${getSlug(p.name)}`">
									Ver más
								</a>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div>
					<div class="container-fluid py-2">
						<h2 class="font-weight-light">Series</h2>
						<div class="d-flex flex-row flex-nowrap overflow-auto" >
							<div class="card card-body bg-dark text-light" v-for="p in series">
								
								<img :src="`https://image.tmdb.org/t/p/w300/${p.poster_path}`"  /> 
				
								<p class="text-center font-monospace pt-4">
									{{p.name}}
								</p>
				
								<a class="text-center font-monospace text-decoration-none"  :href="`tv_details.html?tv=${p.id}-${getSlug(p.name)}`">
									Ver más
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer id="footerpad">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-8 mx-auto">
							<ul class="list-inline text-center"></ul>
							<p class="copyright text-muted text-center">Copyright © UABCS DASC IDS TV 2022| Web Design by Team: Edgar Narvaez - Oscar Uriel - Sergio Galicia - Angel Emmanuel</p>
						</div>
					</div>
				</div>
			</footer>
	
		</div> 

		<script type="text/javascript">
			// vincular vue con mi contenedor
			const { createApp } = Vue;  

			const app = createApp({
				data(){
					return {
						popular_mov:null,
						free_mov:null,
						trending_mov:null,
						series:null,
						img_placeholder:"https://i.ytimg.com/vi/5znji1uGNIs/maxresdefault.jpg"
					}
				},
				methods: {
					getSlug(t){ 
						return t.replaceAll(' ', '-')
					},
					logout(s){

					}
				},
				mounted(){ 
					//populares
					var config = {
					  method: 'get',
					  url: 'https://api.themoviedb.org/3/movie/popular?api_key=af74a3fa129f538a11a2385781f13edc&language=es-ES',
					  headers: { }
					};

					axios(config)
					.then(function (response) {
					  //console.log(JSON.stringify(response.data));
					  app.popular_mov = response.data.results;
					  
					  
					})
					.catch(function (error) {
					  console.log(error);
					});

					//trending
					var config = {
					method: 'get',
					url: 'https://api.themoviedb.org/3/trending/all/day',
					headers: { 
						'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwYjYxNGFmMDA4YWZjMGQyMGM3ZGY0Mjk0OTkyZGIxZSIsInN1YiI6IjYzMWE3ZjE5MGZiMzk4MDA4NGM5ZGZlZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OikVCk2EOnY8oQs6XJO7q24HzgL5pPy1fp_f1Xrzsk8'
					}
					};

					axios(config)
					.then(function (response) {
					app.trending_mov = response.data.results;
					console.log(app.trending_mov)
					})
					.catch(function (error) {
					console.log(error);
					});

					//series

					var config = {
					method: 'get',
					url: 'https://api.themoviedb.org/3/tv/popular?language=en-US&page=1',
					headers: { 
						'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwYjYxNGFmMDA4YWZjMGQyMGM3ZGY0Mjk0OTkyZGIxZSIsInN1YiI6IjYzMWE3ZjE5MGZiMzk4MDA4NGM5ZGZlZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OikVCk2EOnY8oQs6XJO7q24HzgL5pPy1fp_f1Xrzsk8'
					}
					};

					axios(config)
					.then(function (response) {
					app.series = response.data.results;
					console.log(app.series);
					})
					.catch(function (error) {
					console.log(error);
					});

					//ver gratis

				}
				
			}).mount('#contenedor')
		</script>
		<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
	</body>
</html>